<header class="header  ">
  <nav class="navbar navbar-light bg-light ">
    <div class="container-fluid" style="height: 50px">
      <a class="navbar-brand"><H4>HARIBABU</H4></a>

      <form class="d-flex" role="search">
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <a
        class="nav-link d-flex justify-content-center align-items-center"
        role="button"
      >
        <img
          src="c:\Users\B HARIBABU\OneDrive\Pictures\hari photo.jpeg"
          alt="hari"
          style="height: 50px; width: 50px"
        />

        <div>
          <span class="username">haribabu</span>
          <p><span class="role-name">Role : Admin</span></p>
        </div>
      </a>
    </div>
  </nav>
</header>

