<div class="">
  <!-- Header -->
  <h3 class="dashbord-heading" style="font-size: 22px;"> Admin Dashbord</h3>

  <p class="mt-2  mb-3">
    Home <i class="bi bi-chevron-right"></i>
    <span style="color: rgb(231, 154, 60)"> Teachers</span>
  </p>
</div>

<section>

  <div class="col-12 ">

    <div class="row">

      <div class="col">
        <!-- <div class="col-12 "> -->
          <div class="row">
            <div class="col-6 mb-2">
              <div class="dashboard-summery-two">
                <div class="float-left1 " style="font-size: 50px;">
                  <i class="fa-solid fa-children"></i>
                </div>
                <div class="item-content">
                  <div class="item-number"><span class="counter" data-num="35000">35000</span></div>
                  <div class="item-title">Total Students</div>
                </div>
              </div>
            </div>
            <div class="col-6 mb-2 ">
              <div class="dashboard-summery-two">
                <div class="float-left2" style="font-size: 50px;">
                  <i class="fa-regular fa-clipboard"></i>
                </div>
                <div class="item-content">
                  <div class="item-number"><span class="counter" data-num="19050">19050</span></div>
                  <div class="item-title">Total Exams</div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-2">
              <div class="dashboard-summery-two">
                <div class="float-left3" style="font-size: 50px;">
                  <i class="fa-solid fa-users text-blue"></i>
                </div>
                <div class="item-content">
                  <div class="item-number"><span class="counter" data-num="23890">23890</span></div>
                  <div class="item-title">Graduate Studes</div>
                </div>
              </div>
            </div>
            <div class="col-6 mt-2">
              <div class="dashboard-summery-two">
                <div class="float-left4" style="font-size: 50px;">
                  <i class="fa-regular fa-clipboard"></i>
                </div>
                <div class="item-content">
                  <div class="item-number"><span>$</span><span class="counter" data-num="2102050">$2102050</span>
                  </div>
                  <div class="item-title">Total Income</div>
                </div>
              </div>
            </div>
          </div>
        <!-- </div> -->
      </div>

      <!-- </div> -->

      <div class="widget col   cal-m">
        <div class="chat-pi">
        <canvas baseChart

        [type]="'pie'"
        [datasets]="pieChartDatasets"
        [labels]="pieChartLabels"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [legend]="pieChartLegend">
      </canvas>
    </div>
      </div>


      <div class="widget col   cal-m">
        <div class="calender-heding">
          <div class="cal-body mb-3">
            <h6>Notice Bord</h6>
            <span><a href=""> <i class="bi bi-three-dots"></i></a>
            </span>
          </div>
          <div class="notice-box-wrap ">
            <!-- <div class="overflow-y-scroll"> -->
            <div class="notice-list">
              <span class="post-data bg-success">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
            <div class="notice-list">
              <span class="post-data bg-danger">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag printing.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
            <div class="notice-list">
              <span class="post-data bg-warning">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag meneesom.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
            <div class="notice-list">
              <span class="post-data bg-success">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
            <div class="notice-list">
              <span class="post-data bg-danger">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
            <div class="notice-list">
              <span class="post-data bg-warning">06 July, 2024 </span>
              <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
              <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </div>


</section>







<div class="row mt-4">
  <div class="card col-12">
    <div class="s-header mt-4 mb-3" style="font-size: 22px;">
      <h3>All Students Data</h3>
      <i class="bi bi-three-dots"></i>
    </div>
    <div class="row">
      <div class="col-3">
        <input class="form-control form-control-sm" type="text" placeholder="search by Student ID"
          aria-label=".form-control-sm example">
      </div>
      <div class="col-4">
        <input class="form-control form-control-sm" type="text" placeholder="search by student name"
          aria-label=".form-control-sm example">
      </div>
      <div class="col-4">
        <input class="form-control form-control-sm" type="text" placeholder="search by class"
          aria-label=".form-control-sm example">
      </div>
      <div class="col-1">
        <button type="button" class="btn btn-primary"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: .5rem; --bs-btn-font-size: .75rem;">
          Scarch
        </button>
      </div>

    </div>

    <div class="row mt-4 mb-5">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-header">
            <div class="row align-items-center">
              <div class="col-sm-12 d-flex justify-content-between ">
                <div class="page-title " style="font-size: 22px;">
                  <h3>All Students</h3>
                </div>
                <div class="btn btn-outline-secondary ">NewStudents</div>
              </div>
              <div class="col-sm-6 text-sm-right">
                <div class="mt-sm-0 mt-2">

                  <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="#">Action</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table custom-table">
                <thead class="thead-light">
                  <tr>
                    <th>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                      </div>
                    </th>
                    <th>Student ID</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Class</th>
                    <th>Section</th>
                    <th>parent</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Date of Birth</th>
                    <th>Email</th>
                    <th class="text-right">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d001</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>


                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d002</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>2</td>
                    <td>B</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d003</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>
                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d004</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>
                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d005</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>
                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d006</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>
                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                      </div>
                    </td>
                    <td>ST-0d007</td>
                    <td>
                      <h6>hari</h6>
                    </td>
                    <td>Male</td>
                    <td>1</td>
                    <td>A</td>
                    <td>ankaiah</td>
                    <td>pallipadu</td>
                    <td>973-584-58700</td>
                    <td>20/1/2021</td>
                    <td>bhari266"&#64;"gmail.com</td>
                    <td class="text-right">
                      <a href="#" class="btn btn-primary btn-sm mb-1">
                        <i class="far fa-edit"></i>edit
                      </a>
                      <button type="submit" data-toggle="modal" data-target="#delete_employee"
                        class="btn btn-danger btn-sm mb-1">
                        <i class="far fa-trash-alt"></i>delete
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="dataTables_paginate g-2" ><a class="paginate_button previous " >Previous</a>
            <span><a class=" current">1</a><a class="ms-3 " >2</a></span>
            <a class="paginate_button next" >Next</a>
          </div>
        </div>
      </div>

    </div>

    <div class="">
      <p>Copyrights <strong>School management</strong> 2019. All rights reserved. Designed by PsdBosS</p>
    </div>



  </div>
</div>
