<section>
  <div class="sidebar text-white shadow">
    <div class="sidebarht">
      <div class="heading ">
        <h2>S- Management</h2>
      </div>

      <div class="sidebar-container ">
        <div class="sidebar text-white">
          <div class="sidebarht">
            <ul class="nav flex-column active">
              <li class="nav-item">
                <a class="nav-link icons-side" data-bs-toggle="collapse" href="#collapseExample1" aria-expanded="false"
                  aria-controls="collapseExample">
                  <span>
                    <i class="bi bi-house-door p-2" href=""></i>Home</span>
                  <i class="bi bi-chevron-right"></i>
                </a>

                <ul class="nav collapse " id="collapseExample1" style="margin-left: 3rem;">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/admin">Admin </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/student">Students </a>
                  </li>

                  <li class="nav-item">
                    <a class="nav-link" routerLink="/teacher">Teacher</a>
                  </li>
                </ul>
              </li>

              <li class="nav-item">
                <a class="nav-link icons-side" data-bs-toggle="collapse" href="#collapseExample2" aria-expanded="false"
                  aria-controls="collapseExample">
                  <span>
                    <i class="bi bi-person-standing-dress p-2" href=""></i>Students</span>
                  <i class="bi bi-chevron-right"></i></a>

                <ul class="nav collapse " id="collapseExample2" style="margin-left: 1rem;">
                  <li class="nav-item">
                    <a class="nav-link" routerLink="/allstudents">All Students </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Students Details </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link icons-side" data-bs-toggle="collapse" href="#collapseExample3" aria-expanded="false"
                  aria-controls="collapseExample">
                  <span>
                    <i class="bi bi-person-circle p-2" href=""></i>Teachers</span>
                  <i class="bi bi-chevron-right"></i></a>

                <ul class="nav collapse mx-3" id="collapseExample3">
                  <li class="nav-item">
                    <a class="nav-link">All Teachers </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Teacher Details </a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-book-half p-2"></i>Library</a>
              </li>

              <li class="nav-item">
                <a class="nav-link icons-side" data-bs-toggle="collapse" href="#collapseExample4" aria-expanded="false"
                  aria-controls="collapseExample">
                  <span>
                    <i class="bi bi-person-circle p-2" href=""></i>Account</span>
                  <i class="bi bi-chevron-right"></i></a>

                <ul class="nav collapse mx-2" id="collapseExample4">
                  <li class="nav-item">
                    <a class="nav-link">Fees-Collection </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link">Expencess </a>
                  </li>

                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/class"><i class="bi bi-people-fill p-2"></i>Class</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-easel2 p-2"></i>Subject</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-card-checklist p-2"></i>Routing</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-card-checklist p-2"></i>Attendence</a>
              </li>
              <li class="nav-item">
                <a class="nav-link icons-side" data-bs-toggle="collapse" href="#collapseExample5" aria-expanded="false"
                  aria-controls="collapseExample">
                  <span>
                    <i class="bi bi-diagram-2-fill p-2" href=""></i>Exam</span>
                  <i class="bi bi-chevron-right"></i></a>

                <ul class="nav collapse mx-2" id="collapseExample5">
                  <li class="nav-item">
                    <a class="nav-link" href="/exam-list">Exam Schedule </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Exam Grades </a>
                  </li>

                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-card-checklist p-2"></i>Notice</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-card-checklist p-2"></i>Transport</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="bi bi-card-checklist p-2"></i>Hostle</a>
              </li>

            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- </div> -->
</section>
