<!-- Header start -->
<div class="section">
  <h3 class="ms-3">Admin Dashbord</h3>
  <p class="mt-2 ms-3">
    Home <i class="bi bi-chevron-right"></i>
    <span style="color: rgb(231, 154, 60)">Student</span>
  </p>
</div>
<!-- Header end -->
<section>

  <div class="col-12 ">
    <div class="row">
      <div class="col-4 ">
        <div class="card">
          <div class="card-body">
            <div class="cal-body mb-3">
              <h6>About Me</h6>
              <span><a href=""> <i class="bi bi-three-dots"></i></a>
              </span>
            </div>

            <div class="media ">
              <div class="item-img">
                <img
                  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQo1mGZ-wABgC8QuhCrV5v3otpBaXTO5SAKj3Eg9ZomBhn6eRYOSgPmYFmwCnb3QLHOmTw&usqp=CAU"
                  class="media-img-auto" alt="student" style="height: 80px;width: 80px; border-radius: 50px;">
              </div>
              <div class="media-body ">
                <h4>sireesha</h4>
                <p>Aliquam erat volutpat. Curabiene natis massa sedde lacustiquen sodale word moun taiery.</p>
              </div>


            </div>
            <div class="table-responsive info-table">
              <table class="table text-nowrap">
                <tbody>
                  <tr>
                    <td class="font-medium">Name:</td>
                    <td class="font-medium text-dark-medium">sireesha</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Gender:</td>
                    <td class="font-medium text-dark-medium">Female</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Father Name:</td>
                    <td class="font-medium text-dark-medium">ram</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Mother Name:</td>
                    <td class="font-medium text-dark-medium">jamnaki</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Date Of Birth:</td>
                    <td class="font-medium text-dark-medium">07.08.2018</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Religion:</td>
                    <td class="font-medium text-dark-medium">hindu</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Father Occupation:</td>
                    <td class="font-medium text-dark-medium">former</td>
                  </tr>
                  <tr>
                    <td class="font-medium">E-Mail:</td>
                    <td class="font-medium text-dark-medium">sireesh"&#64;"gmail.com</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Admission Date:</td>
                    <td class="font-medium text-dark-medium">05.01.2024</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Class:</td>
                    <td class="font-medium text-dark-medium">2</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Section:</td>
                    <td class="font-medium text-dark-medium">A</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Roll:</td>
                    <td class="font-medium text-dark-medium">10005</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Adress:</td>
                    <td class="font-medium text-dark-medium">House #10, Road #6,
                      Australia</td>
                  </tr>
                  <tr>
                    <td class="font-medium">Phone:</td>
                    <td class="font-medium text-dark-medium">+ 88 9856418</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- col-2 start  -->
      <div class="col-8  ">
        <div class="">
          <div class="col-12  ">
            <div class="row mt-2 ">
              <!-- <div class="section row row-content"> -->

              <div class="col-4">
                <div class="dash-widget dash-widget5 d-flex">
                  <p class="float-left1 " style="font-size: 50px">
                    <i class="fa-regular fa-clipboard"></i>
                  </p>
                  <div class="dash-widget-info text-right">
                    <p class="mb-3">Notification</p>
                    <h3 class="numbers">12</h3>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="dash-widget dash-widget5 d-flex">
                  <p class="float-left2 " style="font-size: 50px">
                    <i class="fa-solid fa-calendar-days"></i>
                  </p>
                  <div class="dash-widget-info text-right">
                    <p class="mb-3">Events</p>
                    <h3 class="numbers">6</h3>
                  </div>
                </div>
              </div>
              <div class="col-4">
                <div class="dash-widget dash-widget5 d-flex">
                  <p class="float-left3" style="font-size: 50px">
                    <i class="fa-solid fa-percent"></i>
                  </p>
                  <div class="dash-widget-info text-right">
                    <p class="mb-3">Attendance</p>
                    <h3 class="numbers">94%</h3>
                  </div>
                </div>
              </div>


              <!-- </div> -->

            </div>

            <!-- student result -->

            <div class="col-12  st-data ">
              <div class="card">
                <div class="card-body">
                  <div class="row">
                    <div class=" col-12">
                      <div class="s-header " style="font-size: 22px;">
                        <h3>All Exam Results</h3>
                        <i class="bi bi-three-dots"></i>
                      </div>
                      <div class="row p-3">
                        <div class="col-3">
                          <input class="form-control form-control-sm" type="id" placeholder="search by Student ID"
                            aria-label=".form-control-sm example">
                        </div>
                        <div class="col-4">
                          <input class="form-control form-control-sm" type="text" placeholder="search by student name"
                            aria-label=".form-control-sm example">
                        </div>
                        <div class="col-4">
                          <input class="form-control form-control-sm" type="date" placeholder=""
                            aria-label=".form-control-sm example">
                        </div>
                        <div class="col-1">
                          <button type="button" class="btn btn-primary"
                            style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 1rem; --bs-btn-font-size: .75rem;">
                            Scarch
                          </button>
                        </div>

                      </div>

                      <div class="row  mb-2">
                        <div class="col-12 p-2 ">
                          <div class="card">

                            <div class="card-body">
                              <div class="table-responsive">
                                <table class="table custom-table">
                                  <thead class="thead-light">
                                    <tr>
                                      <th>
                                        <!-- <div class="form-check">
                                      <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                    </div> -->
                                      </th>
                                      <th>Student ID</th>
                                      <th>Name</th>
                                      <th>Subject</th>
                                      <th>Grade</th>
                                      <th>percent</th>
                                      <th>Date</th>
                                      <th class="text-right">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>

                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>

                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>

                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>

                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>

                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>
                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>
                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>
                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>
                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <div class="form-check">
                                          <input class="form-check-input" type="checkbox" value=""
                                            id="flexCheckDefault">

                                        </div>
                                      </td>
                                      <td>ST-0d001</td>
                                      <td>
                                        <h6>hari</h6>
                                      </td>
                                      <td>english</td>
                                      <td>A</td>
                                      <td>95%</td>

                                      <td>20/1/2021</td>
                                      <td class="text-right">
                                        <span><a href="#"> <i class="bi bi-three-dots"></i></a>
                                        </span>
                                      </td>
                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div>

                          </div>
                        </div>

                      </div>



                      <nav aria-label="..." class="footer-page">
                        <ul class="pagination ">
                          <li class="page-item disabled">
                            <a class="page-link">Previous</a>
                          </li>
                          <li class="page-item"><a class="page-link" href="#">1</a></li>


                          <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                          </li>
                        </ul>
                      </nav>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>
      </div>

    </div>










  </div>


  <section>

    <div class=" text-center">
      <div class="row">
        <div class="col card cal-m">
          Column
        </div>

          <div class="widget col-4 cal-m">
            <div class="calender-heding">
              <div class="cal-body mb-3">
                <h6>Event Calender</h6>
                <span><a href=""> <i class="bi bi-three-dots"></i></a>
                </span>
              </div>
            </div>
            <div class="cal-month">
              <div class="cal-date">
                <h5>July 2024</h5>
                <div class="">
                  <span><i class="fa-solid fa-angle-left"></i><i class="fa-solid fa-angle-right"></i></span>
                </div>
              </div>

              <div class="fc-center">
                <div class="fc-button-group">
                  <button type="button" class="fc-basicDay-button fc-button " fdprocessedid="09e7w">day</button>
                  <button type="button" class="fc-basicWeek-button fc-button " fdprocessedid="28mbju">week</button>
                  <button type="button" class="fc-month-button fc-button fc-state-active" fdprocessedid="6mxbr">month</button>
                </div>
              </div>

            </div>
            <div class="fc-view-container">
              <div class="fc-month-view">

                <table class="fc-row">
                  <thead class="fc-head ">
                    <tr class="container">
                      <th class="fc-day-header "><span>sun</span></th>
                      <th class="fc-day-header"><span>mon</span></th>
                      <th class="fc-day-header"><span>tus</span></th>
                      <th class="fc-day-header"><span>wen</span></th>
                      <th class="fc-day-header"><span>thu</span></th>
                      <th class="fc-day-header"><span>fry</span></th>
                      <th class="fc-day-header"><span>sat</span></th>
                    </tr>
                  </thead>

                  <ul class="days">
                    <li>31</li>
                    <li>1</li>
                    <li>2</li>
                    <li>3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>
                    <li>7</li>
                    <li>8</li>
                    <li><span class="active">9</span></li>
                    <li>10</li>
                    <li>11</li>
                    <li>12</li>
                    <li>13</li>
                    <li>14</li>
                    <li>15</li>
                    <li>16</li>
                    <li>17</li>
                    <li>18</li>
                    <li>19</li>
                    <li>20</li>
                    <li>21</li>
                    <li>22</li>
                    <li>23</li>
                    <li>24</li>
                    <li>25</li>
                    <li>26</li>
                    <li>27</li>
                    <li>28</li>
                    <li>39</li>
                    <li>30</li>
                    <li>31</li>
                  </ul>

                </table>
              </div>
            </div>
          </div>


          <div class="widget col-4 cal-m">
            <div class="calender-heding">
              <div class="cal-body mb-3">
                <h6>Notice Bord</h6>
                <span><a href=""> <i class="bi bi-three-dots"></i></a>
                </span>
              </div>
              <div class="notice-box-wrap ">
                <!-- <div class="overflow-y-scroll"> -->
                <div class="notice-list">
                  <span class="post-data bg-success">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
                <div class="notice-list">
                  <span class="post-data bg-danger">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag printing.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
                <div class="notice-list">
                  <span class="post-data bg-warning">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag meneesom.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
                <div class="notice-list">
                  <span class="post-data bg-success">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
                <div class="notice-list">
                  <span class="post-data bg-danger">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
                <div class="notice-list">
                  <span class="post-data bg-warning">06 July, 2024 </span>
                  <h6 class="post-titel">Great School manag mene esom text of the printing.</h6>
                  <div class="meta">Jennyfar Lopez /<span> 5 min ago</span></div>
                </div>
              </div>

            </div>

          </div>

      </div>
    </div>
